EMAIL_ADDRESS=
EMAIL_PASSWORD=
IMAP_SERVER=imap.gmail.com
SMTP_SERVER=smtp.gmail.com
GEMINI_API_KEY=
SECRET_KEY=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your-strong-password

GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URI=
