
__pycache__/
*.py[cod]
*.pyo



vector_db_simple/

audit.db
audit.log

*.db
*.sqlite3
tickets.db

env/
.env

*.db

.DS_Store
Thumbs.db

.vscode/

*.log
*.pid
*.swp
*.bak



*.egg-info/
dust/
build/


.venv
__pycache__